<%- include('./partials/header'); -%>
<div class="d-flex align-items-center justify-content-center vh-100">
    <h1 class="display-1 fw-bold" style="height: 60vh; margin-top: 15%;">404</h1>
</div>
<%- include('./partials/footer'); -%>
